-r requirements.txt
cfgv==3.5.0
distlib==0.4.3
filelock==3.32.2
identify==2.6.19
iniconfig==2.3.0
nodeenv==1.10.0
packaging==26.3
platformdirs==4.11.1
pluggy==1.6.0
pre-commit==4.6.1
Pygments==2.20.0
pytest==9.1.1
pytest-asyncio==1.4.0
python-discovery==1.5.1
virtualenv==21.7.3
